import(IRanges)
import(GenomicRanges)
import(GenomicFeatures)
import(data.table)

importFrom(RSQLite, sqliteCloseConnection, dbGetPreparedQuery)
importFrom(foreach, foreach)
importFrom(AnnotationDbi, mget)
importFrom(ShortRead, id, chromosome)

importFrom(annotate,
           getAnnMap,
           dataSource
)

exportClasses(GenomicCache,
              GFGene,
              RefSeqGene,
              EnsemblGene,
              AceviewGene,
              UcscGene,
              AnnotatedChromosome
)

exportMethods(duplicate,
              annotationPackage,
              annotationSource,
              genome,
              cacheFetch,
              clearCache,
              dispose,
              getBsGenome,
              chromosomes,
              
              ## GFGene specific
              chromosome,
              txBounds,
              txNames,
              cdsBounds,
              utr5,
              utr3,
              isProteinCoding,
              id,
              symbol,
              chromosome,
              entrezId,
              idealized,

              ## GenomicCache
              cacheDir,
              txdb,
              getGenesOnChromosome,
              fiveUTRsBy,
              threeUTRsBy,
              
              ## GappedRanges
              gwidth,
              
              ## Gene symbol conversions
              getEntrezIdFromSymbol,
              getEntrezIdFromTranscriptId,
              getEntrezIdFromGeneId,
              getTranscriptIdFromEntrezId,
              getSymbolFromEntrezId,
              getGeneIdFromEntrezId,
              getGenesOnChromosome,
              threeUTRsBy,
              fiveUTRsBy,

              ## uniqueness
              flagUniqueRanges,
              getUniquenessMap
)

export(
       ## ShortRead
       id, chromosome,
       ## annotateGenome
       getAnnotatedChromosome,
       generateAnnotatedChromosomesByGenes,
       annotateChromosome,
       annotatedTxBounds,

       ## GappedRAnges
       GappedRanges,

       ## GFGene
       GFGene,

       ## GenomicCache
       createGenomicCache,
       GenomicCache,
       generateGFXGeneModels,
       id2symbol,
       getAnnoPackageName,

       ## utilities
       na.logical,
       convert.na,
       load.it,
       getAnnoPackageName,
       checkOrCreateDirectory,
       dir.exists
       
)
